.SideBar {
    display: flex;
    background-color: #242526;
    position: fixed;
    width: 100px;
    left: 0;
    top: 0;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    height: 100%;
    border-right: 1px solid #606060;
}

.SideBar button {
    width: 80%;
    padding: 15px;
    margin: 10px;
    border-radius: 5px;
}
.buttons{
    margin-top: 35px;
}